<div class="container-sm">
    <h1 class="animate__animated animate__fadeInTopLeft">Datos sobre Luis Martin</h1>

    <ul class="list-group">
        <li class="list-group-item ">
            <p class="animate__animated animate__bounceInDown"><strong>Nombre completo: </strong>Luis Martin Toro Cobos</p>
        </li>

        <li class="list-group-item">
            <p class="animate__animated animate__bounceInLeft"><strong>Estatura: </strong>1.74m</p>
        </li>

        <li class="list-group-item">
            <p class="animate__animated animate__bounceInLeft"><strong>Tipo de sangre: </strong>Oh+</p>
        </li>

        <li class="list-group-item">
            <p class="animate__animated animate__bounceInLeft"><strong>Ciudad: </strong>Machala</p>
        </li>

        <li class="list-group-item">
            <p class="animate__animated animate__bounceInLeft"><strong>Dirección: </strong>Cdla. Roldós Av. A7 vlla. 23</p>
        </li>

        <li class="list-group-item">
            <p class="animate__animated animate__bounceInLeft"><strong>Correo electrónico: </strong>ltoro4.utmachala.edu.ec</p>
        </li>

        <li class="list-group-item">
            <p class="animate__animated animate__bounceInUp"><strong>Num# Celular: </strong>0994342147</p>
        </li>

    </ul>


</div>